In [1]:
# Imports 
import pandas as pd
import sqlalchemy

In [ ]:
# Create SQLAlchemy engine for connecting to SQLite database
engine = sqlalchemy.create_engine("sqlite:///test.db?journal_mode=DELETE&synchronous=NORMAL&temp_store=MEMORY")

In [3]:
# Data Path
path = 'Data/POS_Data.xlsx'

# Retrieve Data
raw_data = pd.read_excel(path, sheet_name='POS')

raw_data.head()

,Check ID,Item Name,Gross Revenue,Date,Sale Time - Exact,Category,Day Part,Is Beverage on Check,Cost Center
0,5723,BVC - WATER SMARTWATER 20OZ,1.59,2020-11-20,21:22:30,ADD>BreakfstAdds,Late Night,Yes,Hospital B
1,27172,BVC - WATER SMARTWATER 20OZ,0.00,2020-10-28,12:47:50,ADD>BreakfstAdds,Lunch,Yes,Hospital A
2,34799,BVC - WATER SMARTWATER 20OZ,1.59,2020-10-28,07:15:04,ADD>BreakfstAdds,Breakfast,Yes,Hospital A
3,64634,BVC - WATER SMARTWATER 20OZ,1.59,2020-10-27,08:39:39,ADD>BreakfstAdds,Breakfast,Yes,Hospital A
4,64634,BVC - WATER SMARTWATER 20OZ,1.59,2020-10-27,08:39:39,ADD>BreakfstAdds,Mid Morning,Yes,Hospital A

In [4]:
# Clean Column Names
raw_data.columns = (
    raw_data.columns
    .str.strip()
    .str.lower()
    .str.replace(' ', '_')
    .str.replace('-', '_')
    .str.replace('___', '_')
    .str.replace('__', '_')
    .str.replace('-', '_')
    .str.replace(r'[^a-z0-9_]', '', regex=True)
)

raw_data.head()

,check_id,item_name,gross_revenue,date,sale_time_exact,category,day_part,is_beverage_on_check,cost_center
0,5723,BVC - WATER SMARTWATER 20OZ,1.59,2020-11-20,21:22:30,ADD>BreakfstAdds,Late Night,Yes,Hospital B
1,27172,BVC - WATER SMARTWATER 20OZ,0.00,2020-10-28,12:47:50,ADD>BreakfstAdds,Lunch,Yes,Hospital A
2,34799,BVC - WATER SMARTWATER 20OZ,1.59,2020-10-28,07:15:04,ADD>BreakfstAdds,Breakfast,Yes,Hospital A
3,64634,BVC - WATER SMARTWATER 20OZ,1.59,2020-10-27,08:39:39,ADD>BreakfstAdds,Breakfast,Yes,Hospital A
4,64634,BVC - WATER SMARTWATER 20OZ,1.59,2020-10-27,08:39:39,ADD>BreakfstAdds,Mid Morning,Yes,Hospital A

In [5]:
raw_data['group'] = raw_data['item_name'].str.split(' - ', n=1).str[0]
raw_data['item_name'] = raw_data['item_name'].str.split(' - ', n=1).str[-1]
raw_data['sub_category'] = raw_data['category'].str.split('>').str[-1]
raw_data['category'] = raw_data['category'].str.split('>').str[0]

line_items = raw_data.assign(
    timestamp=lambda df: pd.to_datetime(raw_data['date'].astype(str) + ' ' + raw_data['sale_time_exact'].astype(str), format='%Y-%m-%d %H:%M:%S', errors='coerce'),
)

# Drop unneeded date/time columns
line_items = line_items.drop(columns=['date', 'sale_time_exact'])

line_items.head()

,check_id,item_name,gross_revenue,category,day_part,is_beverage_on_check,cost_center,group,sub_category,timestamp
0,5723,WATER SMARTWATER 20OZ,1.59,ADD,Late Night,Yes,Hospital B,BVC,BreakfstAdds,2020-11-20 21:22:30
1,27172,WATER SMARTWATER 20OZ,0.00,ADD,Lunch,Yes,Hospital A,BVC,BreakfstAdds,2020-10-28 12:47:50
2,34799,WATER SMARTWATER 20OZ,1.59,ADD,Breakfast,Yes,Hospital A,BVC,BreakfstAdds,2020-10-28 07:15:04
3,64634,WATER SMARTWATER 20OZ,1.59,ADD,Breakfast,Yes,Hospital A,BVC,BreakfstAdds,2020-10-27 08:39:39
4,64634,WATER SMARTWATER 20OZ,1.59,ADD,Mid Morning,Yes,Hospital A,BVC,BreakfstAdds,2020-10-27 08:39:39

In [6]:
line_items['is_beverage_on_check'] = line_items['is_beverage_on_check'].str.lower().str.strip() == 'yes'

line_items = line_items.astype({
    'check_id': 'string',
    'item_name': 'string',
    'gross_revenue': 'float',
    'category': 'string',
    'sub_category': 'string',
    'day_part': 'string',
    'is_beverage_on_check': 'boolean',
    'cost_center': 'string',
    'group': 'string',
    'timestamp': 'datetime64[ns]'
})


# Add the primary key column (1-based index)
line_items['line_item_id'] = line_items.index + 1


# Load line items to SQLite database
line_items.to_sql("line_items", engine, if_exists="replace", index=True, chunksize=8192, method="multi")


line_items.head()

,check_id,item_name,gross_revenue,category,day_part,is_beverage_on_check,cost_center,group,sub_category,timestamp,line_item_id
0,5723,WATER SMARTWATER 20OZ,1.59,ADD,Late Night,True,Hospital B,BVC,BreakfstAdds,2020-11-20 21:22:30,1
1,27172,WATER SMARTWATER 20OZ,0.00,ADD,Lunch,True,Hospital A,BVC,BreakfstAdds,2020-10-28 12:47:50,2
2,34799,WATER SMARTWATER 20OZ,1.59,ADD,Breakfast,True,Hospital A,BVC,BreakfstAdds,2020-10-28 07:15:04,3
3,64634,WATER SMARTWATER 20OZ,1.59,ADD,Breakfast,True,Hospital A,BVC,BreakfstAdds,2020-10-27 08:39:39,4
4,64634,WATER SMARTWATER 20OZ,1.59,ADD,Mid Morning,True,Hospital A,BVC,BreakfstAdds,2020-10-27 08:39:39,5

In [7]:
# build transactions table and enforce data types
transactions = line_items.groupby(['check_id']).agg(
    timestamp = ('timestamp', 'first'),
    total_amount=('gross_revenue', 'sum'),
    num_items=('item_name', 'count'),
    cost_center=('cost_center', 'first'),
    day_part=('day_part', 'first'),
    top_group = ('group', lambda x: x.mode()[0]),
    is_beverage_on_check = ('is_beverage_on_check', 'first')
    ).reset_index().astype({
        'check_id': 'string',
        'timestamp': 'datetime64[ns]',
        'total_amount': 'float64',
        'num_items': 'Int64',
        'cost_center': 'string',
        'day_part': 'string',
        'top_group': 'string',
    })

# # Add the primary key column (1-based index)
# transactions['transactions_id'] = transactions.index + 1

# Load transactions table to SQLite database
transactions.to_sql("transactions", engine, if_exists="replace", index=True, chunksize=8192, method="multi")

transactions.head()

,check_id,timestamp,total_amount,num_items,cost_center,day_part,top_group,is_beverage_on_check
0,10000003,2020-10-23 11:58:15,4.09,1,Hospital A,Lunch,GRL,False
1,10000360,2020-10-23 13:05:04,9.66,4,Hospital B,Lunch,GRL,True
2,10000365,2020-10-23 12:33:39,5.49,1,Hospital B,Lunch,TUKEY PROVOLONE,False
3,10000385,2020-10-23 12:41:35,12.46,5,Hospital A,Lunch,GRL,True
4,10000390,2020-10-23 13:15:30,0.99,1,Hospital A,Lunch,BFK,False

In [10]:
# Build items table
items = line_items[['item_name', 'group', 'category', 'sub_category', 'gross_revenue', 'cost_center']].drop_duplicates().sort_values('item_name').reset_index(drop=True)
items = items.astype({
    'item_name': 'string',
    'group': 'string',
    'category': 'string',
    'sub_category': 'string',
    'gross_revenue': 'float64',
    'cost_center': 'string'
}) 

items = items.rename(columns={'gross_revenue': 'price'})

# Load items table to SQLite database
items.to_sql("items", engine, if_exists="replace", index=True, chunksize=8192, method="multi")

items.head()

               item_name group category sub_category  price cost_center
0   CAFE KITCHEN CHICKEN   ENT   Entree       Entree   6.99  Hospital A
1   CAFE KITCHEN CHICKEN   ENT   Entree       Entree   0.00  Hospital A
2     CAFE KITCHEN PASTA   ENT   Entree       Entree   5.99  Hospital A
3     CAFE KITCHEN PASTA   ENT   Entree       Entree   0.00  Hospital A
4        GUEST TRAY 7.50   ENT   Entree       Entree  13.86  Hospital A

In [11]:
#Build categories table
categories = line_items[['category', 'sub_category', 'cost_center']].drop_duplicates().sort_values(['category', 'sub_category', 'cost_center']).reset_index(drop=True)

with pd.option_context('display.max_rows', None,
                    'display.max_columns', None,
                    'display.width', None,
                    'display.max_colwidth', None):
    display(categories)


# Load categories table into SQLite database
categories.to_sql("categories", engine, if_exists="replace", index=True, chunksize=8192, method="multi")

             category      sub_category cost_center
0                 ADD      BreakfstAdds  Hospital A
1                 ADD      BreakfstAdds  Hospital B
2                 ADD       Coffee Adds  Hospital A
3                 ADD       Coffee Adds  Hospital B
4                 ADD        Combo Adds  Hospital A
5                 ADD        Combo Adds  Hospital B
6                 ADD        Pizza Adds  Hospital A
7                 ADD        Pizza Adds  Hospital B
8                 ADD         Sand Adds  Hospital A
9                 ALC              Beer  Hospital A
10                ALC              Beer  Hospital B
11                ALC            Liquor  Hospital A
12                ALC            Liquor  Hospital B
13                Add      BreakfstAdds  Hospital A
14                BAK           Brownie  Hospital A
15                BAK           Brownie  Hospital B
16                BEV      ProteinDrink  Hospital A
17                BFK      Bfk Potatoes  Hospital B
18                BFK         Egg Other  Hospital A
19                BFK      French Toast  Hospital A
20     Bakery/Dessert    Bakery/Dessert  Hospital A
21     Bakery/Dessert    Bakery/Dessert  Hospital B
22          Beverage              Water  Hospital B
23        Beverage Co       Beverage Co  Hospital A
24        Beverage Co       Beverage Co  Hospital B
25      Beverage Cold     Beverage Cold  Hospital A
26      Beverage Cold     Beverage Cold  Hospital B
27       Beverage Hot      Beverage Hot  Hospital A
28       Beverage Hot      Beverage Hot  Hospital B
29   Bottled Beverage  Bottled Beverage  Hospital B
30          Breakfast         Breakfast  Hospital A
31          Breakfast         Breakfast  Hospital B
32         Bulk Snack        Bulk Snack  Hospital A
33                CON          Dressing  Hospital A
34                CON          Dressing  Hospital B
35           Catering          Catering  Hospital A
36           Catering          Catering  Hospital B
37              Chips             Chips  Hospital A
38      Cold Beverage     Cold Beverage  Hospital B
39     Cold Beverages    Cold Beverages  Hospital B
40               Deli              Deli  Hospital A
41               Deli              Deli  Hospital B
42            Dessert           Dessert  Hospital A
43                ENT         ENT Other  Hospital A
44                ENT      Sandwich Hot  Hospital A
45               EVOO              EVOO  Hospital A
46             Entree            Entree  Hospital A
47             Entree            Entree  Hospital B
48            Entrees           Entrees  Hospital A
49            Entrees           Entrees  Hospital B
50             Entrée            Entrée  Hospital A
51             Entrée            Entrée  Hospital B
52         Exhibition        Exhibition  Hospital A
53         Exhibition        Exhibition  Hospital B
54        FIRST COAST       FIRST COAST  Hospital A
55        FIRST COAST       FIRST COAST  Hospital B
56          GRAB & GO         GRAB & GO  Hospital A
57              GRILL             GRILL  Hospital A
58              GRILL             GRILL  Hospital B
59          Grab & Go         Grab & Go  Hospital A
60          Grab N Go         Grab N Go  Hospital A
61          Grab N Go         Grab N Go  Hospital B
62              Grill             Grill  Hospital A
63              Grill             Grill  Hospital B
64                IMP             Chips  Hospital A
65                IMP      Mix Fr/Nt/Cn  Hospital A
66            Impulse           Impulse  Hospital A
67            Impulse           Impulse  Hospital B
68      Impulse/Snack     Impulse/Snack  Hospital A
69      Impulse/Snack     Impulse/Snack  Hospital B
70     Impulse/Snacks    Impulse/Snacks  Hospital A
71      Lunch Entrees     Lunch Entrees  Hospital B
72        Lunch Sides       Lunch Sides  Hospital A
73      MMarket Snack     MMarket Snack  Hospital A
74      MMarket Snack     MMarket Snack  Hospital B
75        Main Entree       Main Entree  Hospital A
76        Main Entree       Main Entree  Hospital B
77               Misc              Misc  Hospital A
78              Misc.             Misc.  Hospital B
79          On the Go         On the Go  Hospital A
80           Outtakes          Outtakes  Hospital A
81           Outtakes          Outtakes  Hospital B
82        Park Action       Park Action  Hospital A
83              Pizza             Pizza  Hospital A
84              Promo             Promo  Hospital B
85             Retail            Retail  Hospital A
86             Retail            Retail  Hospital B
87                SID          Potatoes  Hospital B
88          Salad Bar         Salad Bar  Hospital A
89          Salad Bar         Salad Bar  Hospital B
90             Salads            Salads  Hospital A
91         Sandwiches        Sandwiches  Hospital A
92         Sandwiches        Sandwiches  Hospital B
93              Sides             Sides  Hospital A
94              Sides             Sides  Hospital B
95         Soup/Chili        Soup/Chili  Hospital A
96         Soup/Chili        Soup/Chili  Hospital B
97        Soup/Salads       Soup/Salads  Hospital A
98           Sushi DO          Sushi DO  Hospital B
99          Trattoria         Trattoria  Hospital A
100         Trattoria         Trattoria  Hospital B
101          Wellness          Wellness  Hospital A
102        zBeverage              Water  Hospital B

103